<section class="wagon_wheel">
	<div class="_wheel">
		<div class="">
			<div class="nav">
				<span class="left attemptLeft" ng-click="vm.attemptRight()"><i></i></span>
				<span class="right attemptRight" ng-click="vm.attemptLeft()"><i></i></span>
			</div>
			<div class="dialer">
				<div class="dialer_wrapper">
					<div id="attemptAction" class="container attemptcont first">
						<div id="a_attempt" class="boxshadow elt one active" ng-click="vm.attemptScanAction()" on-drag-right="vm.onSwipeAttemptRightFirstButton()" on-drag-left="vm.onSwipeAttemptLeftFirstButton()" on-swipe="vm.onSwipeAttemptFirstButton()" on-touch="vm.onSwipeAttemptFirstButton()">
							<img src="img/attempt_scan_icon_xsm_en.png">
							<p>Attempt Scan</p>
						</div>
						<div id="attempt_clear" ng-click="vm.attempt_clear()" class="elt two active" on-drag-right="vm.onSwipeAttemptRightSecondButton()" on-drag-left="vm.onSwipeAttemptLeftSecondButton()" on-swipe="vm.onSwipeAttemptSecondButton()" on-touch="vm.onSwipeAttemptSecondButton()">    	
							<img src="img/clear_scan_icon_xsm.png">
							<p>Clear Scan</p>
						</div>
						<div id="attempt_location" ng-click="vm.attempt_location()" class="elt three active" on-drag-right="vm.onSwipeAttemptRightThirdButton()" on-drag-left="vm.onSwipeAttemptLeftThirdButton()" on-swipe="vm.onSwipeAttemptThirdButton()" on-touch="vm.onSwipeAttemptThirdButton()">
							<img src="img/location_scan_icon_xsm.png">	   	
							<p>Location Scan</p>
						</div>
						<div id="attempt_manifest" class="elt six active" ng-click="vm.manifest()" on-drag-right="vm.onSwipeAttemptRightSixthButton()" on-drag-left="vm.onSwipeAttemptLeftSixthButton()" on-swipe="vm.onSwipeAttemptSixthButton()" on-touch="vm.onSwipeAttemptSixthButton()">
							<img src="img/manifest_wheel_icon_xsm.png">
							<p>Back to Manifest</p>
						</div>
						<div id="attempt_pickup" ng-click="vm.attempt_pickup()" class="elt seven active" on-drag-right="vm.onSwipeAttemptRightSeventhButton()" on-drag-left="vm.onSwipeAttemptRightSeventhButton()" on-swipe="vm.onSwipeAttemptSeventhButton()" on-touch="vm.onSwipeAttemptSeventhButton()">
							<img src="img/pup_scan_icon_xsm.png">
							<p>Pickup Scan</p>
						</div>	
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>