<section class="wagon_wheel">
	<div class="_wheel">
		<div class="">
			<div class="nav">
				<span class="left deliveryLeft" ng-click="vm.deliveryRight()"><i></i></span>
				<span class="right deliveryRight" ng-click="vm.deliveryLeft()"><i></i></span>
			</div>
			<div class="dialer">
				<div class="dialer_wrapper">
					<div id="deliveryAction" class="container deliverycont first">
						<div id="d_delivery" class="boxshadow elt one active" ng-click="vm.deliveryScanAction()" on-drag-right="vm.onSwipeDeliveryRightFirstButton()" on-drag-left="vm.onSwipeDeliveryLeftFirstButton()" on-swipe="vm.onSwipeDeliveryFirstButton()" on-touch="vm.onSwipeDeliveryFirstButton()">
							<img src="img/delivery_scan_icon_xsm_en.png">
							<p>Delivery Scan</p>
						</div>
						<div id="delivery_clear" ng-click="vm.delivery_clear()" class="elt two active" on-drag-right="vm.onSwipeDeliveryRightSecondButton()" on-drag-left="vm.onSwipeDeliveryLeftSecondButton()" on-swipe="vm.onSwipeDeliverySecondButton()" on-touch="vm.onSwipeDeliverySecondButton()">	   	
							<img src="img/clear_scan_icon_xsm.png">
							<p>Clear Scan</p>
						</div>
						<div id="delivery_pickup" ng-click="vm.delivery_pickup()" class="elt three active" on-drag-right="vm.onSwipeDeliveryRightThirdButton()" on-drag-left="vm.onSwipeDeliveryLeftThirdButton()" on-swipe="vm.onSwipeDeliveryThirdButton()" on-touch="vm.onSwipeDeliveryThirdButton()">
							<img src="img/pup_scan_icon_xsm.png">	   	
							<p>Pickup Scan</p>
						</div>
						<div id="delivery_location" ng-click="vm.delivery_location()" class="elt four active" on-drag-right="vm.onSwipeDeliveryRightFourthButton()" on-drag-left="vm.onSwipeDeliveryLeftFourthButton()" on-swipe="vm.onSwipeDeliveryFourthButton()" on-touch="vm.onSwipeDeliveryFourthButton()">
							<img src="img/location_scan_icon_xsm.png">
							<p>Location Scan</p>
						</div>
						<div id="delivery_manifest" class="elt six active" ng-click="vm.manifest()" on-drag-right="vm.onSwipeDeliveryRightSixthButton()" on-drag-left="vm.onSwipeDeliveryLeftSixthButton()" on-swipe="vm.onSwipeDeliverySixthButton()" on-touch="vm.onSwipeDeliverySixthButton()">
							<img src="img/manifest_wheel_icon_xsm.png">
							<p>Back to Manifest</p>
						</div>
						<div id="delivery_attempt" class="elt seven active" ng-click="vm.delivery_attempt()" on-drag-right="vm.onSwipeDeliveryRightSeventhButton()" on-drag-left="vm.onSwipeDeliveryLeftSeventhButton()" on-swipe="vm.onSwipeDeliverySeventhButton()" on-touch="vm.onSwipeDeliverySeventhButton()">
							<img src="img/attempt_scan_icon_xsm.png">
							<p>Attempt Scan</p>
						</div>	   
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>	