<section class="wagon_wheel">
	<div class="_wheel">
		 <div class="">
			<div class="nav">
				<span class="left" ><i></i></span>
				<span class="right"><i></i></span>
			</div>
			<div class="dialer">
				<div class="dialer_wrapper">
					<div id="doorAction" class="container doorcont first">
					    <div id="doortag" class="boxshadow elt one active" on-swipe="vm.onSwipeDoorFirstButton()" on-touch="vm.onSwipeDoorFirstButton()">
					    	<img src="img/door_tag_icon_xsm.png">
					    	<p>Door Scan</p>
					    </div>
					    <div id="door_clear" ng-click="vm.door_clear()" class="elt two active" on-swipe="vm.onSwipeDoorSecondButton()" on-touch="vm.onSwipeDoorSecondButton()">    	
					    	<img src="img/clear_scan_icon_xsm.png">
					    	<p>Clear Scan</p>
					    </div>
					    <div id="door_manifest" ng-click="vm.manifest()" class="elt seven active" on-swipe="vm.onSwipeDoorSeventhButton()" on-touch="vm.onSwipeDoorSeventhButton()">
					    	<img src="img/manifest_wheel_icon_xsm.png">
					    	<p>Back to Manifest</p>
					    </div>	
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>