<ion-radio ng-model="vm.choice" ng-value="'optimized'" >Optimized View</ion-radio>
<ion-radio ng-model="vm.choice" ng-value="'custom'">Custom View</ion-radio>
<ion-radio ng-model="vm.choice" ng-value="'alphabetical'">Alphabetical</ion-radio>
<ion-radio ng-model="vm.choice" ng-value="'piece_count'">Piece Count</ion-radio>
<ion-radio ng-model="vm.choice" ng-value="'delivered'">Delivered</ion-radio>
<ion-radio ng-model="vm.choice" ng-value="'scheduled'">Scheduled</ion-radio>
<ion-radio ng-model="vm.choice" ng-value="'not_assigned'">Not Assigned</ion-radio>
<ion-radio ng-model="vm.choice" ng-value="'attempted'">Attempted</ion-radio>
<ion-radio ng-model="vm.choice" ng-value="'pickups'">Pickups</ion-radio>