<section class="wagon_wheel">
	<div class="_wheel">
		<div class="">
			<div class="nav">
				<span class="left locationLeft" ng-click="vm.locationRight()"><i></i></span>
				<span class="right locationRight" ng-click="vm.locationLeft()"><i></i></span>
			</div>
			<div class="dialer">
				<div class="dialer_wrapper">
					<div id="locationAction" class="container locationcont first">
						<div id="lc_location" class="boxshadow elt one active" ng-click="vm.locationScanAction()" on-drag-right="vm.onSwipeLocationRightFirstButton()" on-drag-left="vm.onSwipeLocationLeftFirstButton()" on-swipe="vm.onSwipeLocationFirstButton()" on-touch="vm.onSwipeLocationFirstButton()">
							<img src="img/location_scan_icon_xsm_en.png">
							<p>Location Scan</p>
						</div>
						<div id="location_clear" ng-click="vm.location_clear()" class="elt two active" on-drag-right="vm.onSwipeLocationRightSecondButton()" on-drag-left="vm.onSwipeLocationLeftSecondButton()" on-swipe="vm.onSwipeLocationSecondButton()" on-touch="vm.onSwipeLocationSecondButton()">   
							<img src="img/clear_scan_icon_xsm.png">
							<p>Clear Scan</p>
						</div>
						<div id="location_pickup" ng-click="vm.location_pickup()" class="elt three active" on-drag-right="vm.onSwipeLocationRightThirdButton()" on-drag-left="vm.onSwipeLocationLeftThirdButton()" on-swipe="vm.onSwipeLocationThirdButton()" on-touch="vm.onSwipeLocationThirdButton()">
							<img src="img/pup_scan_icon_xsm.png">	   	
							<p>Pickup Scan</p>
						</div>
						<div id="loaction_manifest" ng-click="vm.manifest()" class="elt four active" on-drag-right="vm.onSwipeLocationRightFourthButton()" on-drag-left="vm.onSwipeLocationLeftFourthButton()" on-swipe="vm.onSwipeLocationFourthButton()" on-touch="vm.onSwipeLocationFourthButton()">
							<img src="img/manifest_wheel_icon_xsm.png">
							<p>Back to Manifest</p>
						</div>
						<div id="location_load" ng-click="vm.location_load()" class="elt five active" on-drag-right="vm.onSwipeLocationRightFifthButton()" on-drag-left="vm.onSwipeLocationLeftFifthButton()" on-swipe="vm.onSwipeLocationFifthButton()" on-touch="vm.onSwipeLocationFifthButton()">
							<img src="img/load_scan_icon_xsm.png">
							<p>Load Scan</p>
						</div>
						<div id="location_attempt" ng-click="vm.location_attempt()" class="elt six active" on-drag-right="vm.onSwipeLocationRightSixthButton()" on-drag-left="vm.onSwipeLocationLeftSixthButton()" on-swipe="vm.onSwipeLocationSixthButton()" on-touch="vm.onSwipeLocationSixthButton()">
							<img src="img/attempt_scan_icon_xsm.png">
							<p>Attempt Scan</p>
						</div>
						<div id="location_delivery" ng-click="vm.location_delivery()" class="elt seven active" on-drag-right="vm.onSwipeLocationRightSeventhButton()" on-drag-left="vm.onSwipeLocationLeftSeventhButton()" on-swipe="vm.onSwipeLocationSeventhButton()" on-touch="vm.onSwipeLocationSeventhButton()">
							<img src="img/delivery_scan_icon_xsm.png">
							<p>Delivery Scan</p>
						</div>	   
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>