<ion-view  name="login-view" class="bg_img text_white"> 
  <ion-content class=" align_center" overflow-scroll="false">
    <img src="img/logo.jpg" class="logo_img dsply_block"></img>
      <div class="font17">
        <div class = "col">
          <span class="login_text dsply_table">Login</span>
          <label class="item item-input login_input brdr_1px" >
            <input type="text" ng-model="vm.driverId" required>
          </label>
        </div>
        <div class = "col">
          <span class="password_text dsply_table">Password</span>
            <label class="item item-input login_input brdr_1px" >
              <input type="password" ng-model="vm.password" id="paswrd" required>
            </label>
        </div>
        <button class="col submit_btn text_white button-clear" ng-click="vm.signIn()" id="lgn">Sign In</button>
      </div>
  </ion-content>
</ion-view>