<ion-view>
    <ion-nav-buttons side="right" class="seqmap_img">
        <div ng-click="vm.seqViewRouting()">
            <p class="headermenutitle"><img src="img/map_view_list_icon_xsm.png" class="width_40p" /></p>
        </div>
    </ion-nav-buttons>

    <ion-content overflow-scroll="false" id="spinrsec">
        <div class="spinner" ng-if="(vm.manifestAvailable != false) && (vm.filterOptions == '' && vm.groupedManifestView.length == 0)">
            <ion-spinner icon="bubbles" id="spinbubble"></ion-spinner><p>Updating Manifest ...</p>
        </div>
        <div class="fontbold filterby_text fontitalic wdth_100 mrgtop2p"><span ng-click="vm.showPopup()">Filter By:{{vm.filterBy}}</span></div>
        <ion-list sortable draggable=".card" sorted="vm.onReorder($fromIndex, $toIndex)" class="cardlist" ng-if="vm.showCustomFilter">
            <div class="textalghn_center" ng-if="(vm.filterOptions != '' && vm.customlist.length == 0) || (vm.manifestAvailable == false)">No records found</div>

            <ion-item ng-repeat="(key, value) in vm.customlist" class="card padding1p pdglft2px">
                <div ng-if="(value[0].show == true)" class="wdth100p dsply_table">
                    <p class="text_mischaka font17 fontbold manifest_index">{{$index +1}}</p>
                    <div class="fltright width90p">
                        <div class="row manifest_border">
                            <div class="col textalghn_center position_relative padding_0">
                                <p class="manifest_prdctcnt font_Futura position_absolute wdth100p">{{value.length}}x </p>
                                <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery' && (value[0].Attempted == false || value[0].Attempted == '') && (value[0].Assigned == true || value[0].Assigned == '')"
                                class="mrg_auto flex_ctr"><img src="img/package_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery'" class="mrg_auto flex_ctr"><img src="img/load_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>

                                <div ng-if="value[0].Type == 'pickup' && (value[0].Attempted == false || value[0].Attempted == '' ) && (value[0].Assigned == true || value[0].Assigned == '')"
                                class="mrg_auto flex_ctr"><img src="img/pup_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                <div ng-if="value[0].Assigned == 'false' && value[0].Attempted == 'false'" class="mrg_auto"><img src="img/not_assigned_icon_xsm.png" class="menuimg martop_0 mrgtop_25px flex_ctr" /></div>
                                <div ng-if="value[0].Attempted == true && value[0].Delivered != true" class="mrg_auto"><img src="img/attempt_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px flex_ctr" /></div>
                            </div>
                            <div class="col col-75 capitalize" ng-click="vm.navigation('{{value[0].Address}}'+','+'{{value[0].Address2}}'+','+'{{value[0].City}}'+','+'{{value[0].State}}'+','+'{{value[0].PostalCode}}')">
                                <p ng-if="value[0].Barcode != value[0].StopIdentifier" class="manifestaddname  font_Dagny capitalize ">{{value[0].Contact | lowercase}}</p>
                                <p ng-if="value[0].Barcode == value[0].StopIdentifier" class="manifestaddname  font_Futura capitalize pdg_2px">{{value[0].Contact | uppercase}}</p>
                                <p class="font_Futura capitalize font16 text_black"> {{value[0].Address | lowercase}}</p>
                                <p class="font_Futura capitalize font16 text_black"> {{value[0].City | lowercase}}&nbsp;{{value[0].State }}&nbsp;{{value[0].PostalCode}}</p>
                            </div>
                        </div>
                        <div ng-if="value[0].showSignature == false">
                            <div class="row PAD0CNT">
                                <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery'" class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery'" class="col manifest_btn1 flex_ctr" ng-click="vm.loadScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn1 flex_ctr" ng-click="vm.pickUpScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Type == 'delivery'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'delivery')">
                                    <span ng-if="value[0].Instruction.length == 0" class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                    <span ng-if="value[0].Instruction.length > 0" class="manifest_btn2txt font_Calluna">Special</span>
                                </div>
                                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'pickup')">
                                    <span class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="value[0].showSignature == true">
                            <div class="row PAD0CNT">
                                <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery'" class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery'" class="col manifest_btn1 flex_ctr" ng-click="vm.loadScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn1 flex_ctr" ng-click="vm.pickUpScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Type == 'delivery'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'delivery')">
                                    <span ng-if="value[0].Instruction.length == 0" class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                    <span ng-if="value[0].Instruction.length > 0" class="manifest_btn2txt font_Calluna">Special</span>
                                </div>
                                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'pickup')">
                                    <span class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                </div>
                                <div class="col manifest_btn3 flex_ctr">
                                    <img src="img/signature_req_icon_xsm.png" class="width_26 brdr_white borderradius_50 bg_white" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ion-item>
        </ion-list>

        <ion-list class="cardlist card" ng-if="vm.showCustomFilter==false">
            <div class="textalghn_center" ng-if="(((vm.filterOptions != '' || vm.orderBy != '') && vm.groupedManifestView.length == 0) && (vm.manifestAvailable == false))">No records found</div>
            <ion-item ng-repeat="(key, value) in vm.groupedManifestView" class="card padding1p">
                <div ng-if="vm.filterOptions == '' ">
                    <div ng-if="value[0].show == true" class="wdth100p dsply_table">

                        <p class="text_mischaka font17 fontbold manifest_index">{{$index +1}}</p>
                        <div class="fltright width90p">

                            <div class="row manifest_border">
                                <div class="col textalghn_center position_relative padding_0">
                                    <p class="manifest_prdctcnt font_Futura position_absolute wdth100p">{{value.length}}x </p>
                                    <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery' && (value[0].Attempted == false || value[0].Attempted == '') && (value[0].Assigned == true || value[0].Assigned == '')"
                                    class="mrg_auto flex_ctr"><img src="img/package_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                     <div ng-if="value[0].Delivered == true && value[0].Type == 'delivery' && (value[0].Attempted == false || value[0].Attempted == '' || value[0].Attempted == true) && (value[0].Assigned == true || value[0].Assigned == '') && (value[0].Loaded != true || value[0].Loaded == '')"
                                class="mrg_auto flex_ctr"><img src="img/load_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                    <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery' && value[0].Attempted != true && (value[0].Delivered != true)" class="mrg_auto flex_ctr"><img src="img/load_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>

                                    <div ng-if="value[0].Type == 'pickup' && (value[0].Attempted == false || value[0].Attempted == '' ) && (value[0].Assigned == true || value[0].Assigned == '')"
                                    class="mrg_auto flex_ctr"><img src="img/pup_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                    <div ng-if="value[0].Assigned == 'false' && value[0].Attempted == 'false'" class="mrg_auto flex_ctr"><img src="img/not_assigned_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                    <div ng-if="value[0].Attempted == true " class="mrg_auto flex_ctr"><img src="img/attempt_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                </div>
                                <div class="col col-75 capitalize" ng-click="vm.navigation('{{value[0].Address}}'+','+'{{value[0].Address2}}'+','+'{{value[0].City}}'+','+'{{value[0].State}}'+','+'{{value[0].PostalCode}}')">
                                    <p ng-if="value[0].Barcode != value[0].StopIdentifier" class="manifestaddname  font_Dagny capitalize ">{{value[0].Contact | lowercase}}</p>
                                    <p ng-if="value[0].Barcode == value[0].StopIdentifier" class="manifestaddname  font_Futura capitalize pdg_2px">{{value[0].Contact | uppercase}}</p>
                                    <p class="font_Futura capitalize font16 text_black"> {{value[0].Address | lowercase}}</p>
                                    <p class="font_Futura capitalize font16 text_black"> {{value[0].City | lowercase}}&nbsp;{{value[0].State }}&nbsp;{{value[0].PostalCode}}</p>
                                </div>
                            </div>
                            <div ng-if="value[0].showSignature == false">
                                <div class="row PAD0CNT">
                                    <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery' && value[0].Attempted != true" class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                    </div> 
                                    <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery' && value[0].Attempted != true" class="col manifest_btn1 flex_ctr" ng-click="vm.loadScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                    </div>
                                     

                                     <div ng-if="value[0].Attempted == true " class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                    </div>


                                    <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn1 flex_ctr" ng-click="vm.pickUpScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                    </div>

                                    <div ng-if="value[0].Type == 'delivery'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'delivery')">
                                        <span ng-if="value[0].Instruction.length == 0" class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                        <span ng-if="value[0].Instruction.length > 0" class="manifest_btn2txt font_Calluna">Special</span>
                                    </div>
                                    <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'pickup')">
                                        <span class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="value[0].showSignature == true">
                                <div class="row PAD0CNT">
                                    <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery' && value[0].Attempted != true " class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                    </div>
                                    <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery' && value[0].Attempted != true" class="col manifest_btn1 flex_ctr" ng-click="vm.loadScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                    </div>
                                    <div ng-if="value[0].Attempted == true " class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                    </div>
                                    <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn1 flex_ctr" ng-click="vm.pickUpScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                    </div>
                                    <div ng-if="value[0].Type == 'delivery'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'delivery')">
                                        <span ng-if="value[0].Instruction.length == 0" class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                        <span ng-if="value[0].Instruction.length > 0" class="manifest_btn2txt font_Calluna">Special</span>
                                    </div>
                                    <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'pickup')">
                                        <span class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                    </div>
                                    <div class="col manifest_btn3 flex_ctr">
                                        <img src="img/signature_req_icon_xsm.png" class="width_26 brdr_white borderradius_50 bg_white" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div ng-if=" vm.filterOptions != '' ">
                     <div class="textalghn_center" ng-if="(((vm.filterOptions != '' || vm.orderBy != '') && vm.groupedManifestView.length == 0) && (vm.manifestAvailable == false))">No records found</div>
                    
                    <p class="text_mischaka font17 fontbold manifest_index" id="indexcount">{{$index +1}}</p>
                    <div class="fltright width90p">

                        <div class="row manifest_border">
                            <div class="col textalghn_center position_relative padding_0">
                                <p class="manifest_prdctcnt font_Futura position_absolute wdth100p">{{value.length}}x </p>
                                <div ng-if="value[0].Delivered == true && value[0].Type == 'delivery' && (value[0].Attempted == false || value[0].Attempted == '' || value[0].Attempted == true) && (value[0].Assigned == true || value[0].Assigned == '')"
                                class="mrg_auto flex_ctr"><img src="img/package_icon_deliv_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                <div ng-if="(value[0].Loaded == '') && (value[0].Type == 'delivery') && (value[0].Attempted != true) && (value[0].Delivered != true)" class="mrg_auto flex_ctr"><img src="img/load_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>

                                <div ng-if="value[0].Type == 'pickup' && (value[0].Attempted == false || value[0].Attempted == '' ) && (value[0].Assigned == true || value[0].Assigned == '')"
                                class="mrg_auto flex_ctr"><img src="img/pup_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                <div ng-if="value[0].Assigned == false && value[0].Delivered != true && value[0].Type != 'pickup' && value[0].Attempted == false" class="mrg_auto flex_ctr"><img src="img/not_assigned_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                                <div ng-if="value[0].Attempted == true && value[0].Delivered != true " class="mrg_auto flex_ctr"><img src="img/attempt_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px" /></div>
                            </div>
                            <div class="col col-75 capitalize" ng-click="vm.navigation('{{value[0].Address}}'+','+'{{value[0].Address2}}'+','+'{{value[0].City}}'+','+'{{value[0].State}}'+','+'{{value[0].PostalCode}}')">
                                <p ng-if="value[0].Barcode != value[0].StopIdentifier" class="manifestaddname  font_Dagny capitalize ">{{value[0].Contact | lowercase}}</p>
                                <p ng-if="value[0].Barcode == value[0].StopIdentifier" class="manifestaddname  font_Futura capitalize pdg_2px">{{value[0].Contact | uppercase}}</p>
                                <p class="font_Futura capitalize font16 text_black"> {{value[0].Address | lowercase}}</p>
                                <p class="font_Futura capitalize font16 text_black"> {{value[0].City | lowercase}}&nbsp;{{value[0].State }}&nbsp;{{value[0].PostalCode}}</p>
                            </div>
                        </div>

                        <div ng-if="value[0].showSignature == false">
                            <div class="row PAD0CNT">
                                <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery' && value[0].Attempted != true" class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                               
                                <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery' && value[0].Attempted != true" class="col manifest_btn1 flex_ctr" ng-click="vm.loadScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn1 flex_ctr" ng-click="vm.pickUpScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                 <div ng-if="value[0].Attempted == true " class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Type == 'delivery'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'delivery')">
                                    <span ng-if="value[0].Instruction.length == 0" class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                    <span ng-if="value[0].Instruction.length > 0" class="manifest_btn2txt font_Calluna">Special</span>
                                </div>
                                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'pickup')">
                                    <span class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="value[0].showSignature == true">
                            <div class="row PAD0CNT">
                                <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery' && value[0].Attempted != true" class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery' && value[0].Attempted != true" class="col manifest_btn1 flex_ctr" ng-click="vm.loadScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn1 flex_ctr" ng-click="vm.pickUpScanRouting(value[0].StopIdentifier,value[0].Instruction)">
                                    <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                 <div ng-if="value[0].Attempted == true" class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                                        <span class="manifest_btn2txt font_Calluna">Scan</span>
                                </div>
                                <div ng-if="value[0].Type == 'delivery'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'delivery')">
                                    <span ng-if="value[0].Instruction.length == 0" class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                    <span ng-if="value[0].Instruction.length > 0" class="manifest_btn2txt font_Calluna">Special</span>
                                </div>
                                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'pickup')">
                                    <span class="manifest_btn2txt font_Calluna">Piece Detail</span>
                                </div>
                                <div class="col manifest_btn3 flex_ctr">
                                    <img src="img/signature_req_icon_xsm.png" class="width_26 brdr_white borderradius_50 bg_white" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="padding_0">
        <button class="button button-full btn_mapview bg_pigmentgreen bar-positive mrg_0px" ng-click="vm.locationRouting()">    
            <img src="img/map_icon_xsm.png" class="wdth40px brdr_white borderradius_50 bg_white"/></button>
        </ion-footer-bar>
    </ion-view>