<ion-view>
    <ion-content overflow-scroll="false" scroll="false" has-header="true">
        <div class="bar bar-header bar-positive position_relative cntr_txt" has-header="true">
            <p class="font20 mrgnitmcntr wdth_100">Preference Settings</p>
        </div>
        <ion-toggle ng-model = "vm.toggleModel" ng-value="vm.toggleModel" class="font20 fontbold">
            <div ng-show="vm.toggleModel"> Seq Map View</div>
            <div ng-hide="vm.toggleModel">List View</div>
        </ion-toggle>
        <ion-toggle ng-model = "vm.locationStatus" ng-value=" vm.locationStatus" class="font20 fontbold">
            <div> Location </div>
        </ion-toggle>
    </ion-content>
    <ion-footer-bar class="padding_0" ng-show="vm.toggleModel">
        <button class="button button-full btn_mapview bg_pigmentgreen bar-positive mrg_0px text_white font25" ng-click="vm.save('seqView')">Save
        </button>
    </ion-footer-bar>
    <ion-footer-bar class="padding_0" ng-hide="vm.toggleModel">
        <button class="button button-full btn_mapview bg_pigmentgreen bar-positive mrg_0px text_white font25" ng-click="vm.save('listView')">Save
        </button>
    </ion-footer-bar>
</ion-view>