<ion-view  >
<ion-nav-buttons side="right" >
    <div  ng-click="vm.goBack()" class="gobacksec" >
          <span class="bckcrcle"></span><span class="text_white  fltright" >BACK</span>
     </div>  
</ion-nav-buttons>
<ion-content  scroll="false">
  <div class="row padding_0">
    <div class="col col-100 bg_darkbrown ">
          <p class="fltleft text_white mrg1p"> Signature Capture </p>
          <div class="row  text_white cntr_txt alighitem_center fltright mnfst_val" >
           <img src="img/package_icon_xsm.png" class="sig_manifest fltright "/>
           <span class="webkit_center fltright mnfstvalue" > x{{vm.deliveryCount}} </span>
        </div>
    </div>
  </div>
  <div class="row loc_name_sec">
    <div class="col-50 brdr" id="selectLocation" ng-click="vm.dropLocList()">
      <input type="text" placeholder="Drop&nbsp;Location&nbsp;List" class="drploc_box" ng-model="vm.droplocationvalue" readonly /><div class="ion-chevron-down" style="margin: 7px 5px auto;"></div>
    </div>
    <div class="podsec brdr" ng-click="vm.PodName_val()">
      <input type="text" placeholder="POD&nbsp;(Typed&nbsp;Name)"  class="wdth100p pod_box" ng-model="vm.typedSignature" 
      id="podname">
    </div>
  </div>
  <div class=" sigsection" id="canvasSection" on-touch="vm.placeholder()"> 
    <div class=" signplce_hldr position_relative font_Signature" id="placeholder"> 
        Signature&nbsp;Capture
    </div>
  </div>
  <hr class=" bg_color_red bg_color_red " id="redbar" > </hr> 
</ion-content>
<ion-footer-bar class="padding_0">
  <div class="button-bar"> 
    <a class="button bg_color_denimblue flex_ctr bordernone text_white  bg_color_denimblue textalghn_center  brdr_rad_none" ng-click="vm.complete()">Complete
    </a> 
    <div class="button flex_ctr bordernone  atmpt_bg sigfootr " ng-click="vm.attemptScan()">
    	<img src="img/attempt_scan_icon_xsm.png" class="sig_two_img webkit_center brdr_white borderradius_50 bg_white flex_ctr" />
    </div> 
    <div class="button flex_ctr bordernone   sigfootr drtag_clr" ng-click="vm.doorTagScan()">
    	<img src="img/door_tag_icon_xsm.png" class="sig_two_img brdr_white borderradius_50 bg_white flex_ctr" />
    </div> 
  </div>
</div>
</div>
</ion-footer-bar>
</ion-view>