<ion-view scroll="true">
	<ion-nav-buttons side="right">
		<div class="button-clear header_crcle borderradius_50"></div>
		<button class="button-clear" ng-click="vm.pickupBackRouting()">
			<p class="headermenutext mrg0px lne_hgt0px">BACK</p> 
		</button>
	</ion-nav-buttons>
	<ion-content overflow-scroll="false" id="scrlme">
	<button class="button button-full btn bg_java btn_mrg" >
			<img src="img/pup_scan_icon.png" class="width_44p"/>
	</button>
		<div class="row mrg_2p">
			<div class="col-40">
				<div class="input-label col font13 text_black fontbold">
					Pick up amount?
				</div>
				<div class="ctr_align">
					<img src="img/package_icon_xsm.png" class="fltleft wdth27pxl "/>
					<div class="col list pdrgt0p lnehgt16px cntrsec">
						<label class="item item-input item-select brdrclr_none">
							<div class="input-label">
							</div>
							<select class="mxwdth_none wdth100p txtaligncntr pdg15px"  onchange="this.nextElementSibling.value=this.value" ng-init="(_Array = []).length = 99" id="contval"> 
								 <option ng-repeat="i in _Array track by $index" >{{$index+1}}</option>
							</select>
						</label>
					</div>
				</div>
			</div>
			<div class="col-60">
				<div class="input-label col text_black font13 fontbold">
					Customer
				</div>
				<div class="dsply_table brdr_1px wdth_95p">
					<input type="text" class="fontbold height25px wdth_100" ng-model="vm.unAssignCustomer">
				</div>
			</div>
		</div>
		<div class = "wdth100p margin3p">
			<span class="dsply_table fontbold font13">Name</span>
			<label class="item item-input input_wdth60 brdr_1px">
				<input type="text" class="height25px" ng-model="vm.unAssignName">
			</label>
		</div>
		<div class = "wdth100p margin3p mrg_btm5p">
			<span class="dsply_table fontbold font13">Address:</span>
			<div class="pdgrght_5p">
				<label class="item item-input wdth_100 brdr_1px height35px col-90 btn_mrg fltleft">
					<input type="text" class="fontbold" ng-model="vm.unAssignAddress" id="locAdrs">
				</label>
				<button class="btn brdr_1px col-10 brdr_left height35px pd5px" ng-click="vm.getAddress()">
					<img src="img/map_icon_xsm.png" class="wdth_100  mapicon dsply_block"/>
				</button>
			</div>
		</div>
		<hr/>			
		<div class="margin3p">
			<div class="wdth100p fontbold font13">What container type for each piece?</div>
			<div class="row padding_0">
				<div class="col bg_java border_right text_white">Barcode#</div>
				<div class="col bg_java text_white">Container Type</div>
			</div>
			<div ng-repeat="data in vm.unassignpickUpbarcodes" ng-class-odd="'bg_color_azure'" ng-class-even="'bg_mischka'">
				<div class="row padding_tb font12">
					<div class="col border_right  ctr_align">{{data.barcode}}</div>
					<div class="col list">
						<label class="item item-input item-select bordernone bg_color_transparent">
							<div class="input-label">

							</div>
							<select class="pdg0px bg_color_transparent" ng-init="vm.selectedContainers[$index] = vm.pickUpType[0]" ng-model="vm.selectedContainers[$index]" ng-change="showselected(vm.selectedContainers)"> 
								<option ng-repeat="data in vm.pickUpType">{{data}}</option>
							</select>
						</label>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div class="wdth100p margin3p dsply_table">
			<span class="dsply_table fontbold font13">Barcode(s):</span>
			<label class="item item-input col brdr_1px wdth_95p  fltleft">
				<div ng-repeat="data in vm.unassignpickUpbarcodes">
					<div>{{data.barcode}}</div>
				</div>
			</label>
		</div>
		<div class="wdth100p dsply_table margin3p">
			<span class="dsply_table fontbold font13">Notes:</span>
			<label class="item item-input col brdr_1px wdth_95p height60px fltleft">
				<input type="text" value="" ng-model="vm.unAssignNotes"/>
			</label>
		</div>
	</ion-content>
	<ion-footer-bar class="padding_0" ng-click="vm.complete()">
		<button class="button button-full bg_color_denimblue text_white mrg_0px fontitalic boldtxt">
			<span>Complete</span>
		</button>
	</ion-footer-bar>
</ion-view>
