.bg_img{
	background-image: url("../img/login_screen_m.png");
	background-size: cover;
}

.logo_img{
	margin: $margin_center;
	width: $width_25p;
	margin-bottom: 70%;
}

.login_text{
	margin: 10px 0;
}

.login_input{	
	width: $width_100p;
	border-radius : 3px;
	height: 32px !important;
}

.password_text{
	margin : 10px 0;
}

.submit_btn{
	margin:5% 0;
	font-size: $font_size25px;
	text-align: $textalign_left;
}
.align_center .scroll{
	width:75%;
	height: auto;
	margin: auto;
}