.scan_container .scroll{
    height: 100% !important;
    background: #eee;
}
.scan_container {
    /*background: #eee;*/
}
.maxwidth_100p{
    max-width: $width_100p !important;
}
.mrg_bdr{
    border: 1px solid;
    overflow-y: scroll;
    background-color: #fff;
    height: 75%;
    position: $position_absolute;
    width: 96%;
}
.input_container{
    padding: $padding_0;
    margin-bottom: 2%;
}

.input_wdth{
    border: 1px solid #787778 !important;
    padding: 9px;
}
.btn_detail{
    text-align: $textalign_center;
    font-size: $font_size15px;
    padding: 7px;
    margin: -1px;
    box-shadow: 2px 2px 8px 1px #666;
    border-radius: 0;
}
.last_scanned{
    color: $color_denimblue;
}
.ul_bold li h5{
    font-weight: $font_weight;;
}
.barcode_img{
    margin: 15px auto;
    display: block;
}
.pdng0px{
    padding: 0px !important;
    
}
.margintp10px{
    margin-top: 10px;
}
.pdng5px{
    padding: 5px !important;
}
.lnehgt35px{
    line-height: 35px;
}

.thumbwheel_hgt{
    height: 141px;
    overflow: hidden;
    background-color:#DDD;
}
.scanner_hgt{
    position: $position_relative;
    display: table;
    height: 100%;
    width: $width_100p;
}
.scanner_section{
    height: 32%; 
    display: table-cell;
}
.report_section{
   height: 50%;
    display: table-row;
   background-color: #eee;
}
.swipe_section{
    height: 30%; 
    display: table-footer-group;
}
.scansec{
    height: 100%;
}
.scantype_icn {
    width: 9%;
    padding-left: 8px;
    margin-top: 0px;
}
span.scandlists{
    position: absolute;
    margin: 0px 5px;
    font-size: 12px;
    font-weight: 700;
}
@media (min-width : 678px) and (max-width : 1024px) {
    .mrg_bdr {
    border: 1px solid;
    overflow-y: scroll;
    background-color: #fff;
    height: 85%;
    position: absolute;
    width: 96%;
    }
}
@media (min-width : 320px) and (max-width : 400px){
    .mrg_bdr {
        border: 1px solid;
        overflow-y: scroll;
        background-color: #fff;  
        height: 65% ; 
        position: absolute;
        width: 96%;
        border-bottom:none;
    }
}
@media (min-width : 360px) and (max-width : 710px){
    .mrg_bdr { 
        height: 68% ; 
    }
}
@media (min-width : 400px) and (max-width : 500px){
    .mrg_bdr {        
        height: 63% !important;
    }
}
@media (min-width : 501px) and (max-width : 590px){
    .mrg_bdr {
        height: 57% !important;
    }
}
._scannerimg{
    width: 100%;
    display: block;
    position: absolute;
    margin: 22px 0;
    height: 38%;
}
._scannerimg div img{
    width: 100%;
    position: absolute;
    height: 100%;
}
._lastscan{
    padding: 10px;
    background: #eee;
    width: 100%;
    position: absolute;
    display: block;
    top: 43%;
    height: 47%;
}
._lastscan div ._title{
    color: blue;
}
._lastscan div ._scanned_items{
    width: 93%;
    position: absolute;
    display: block;
}
._lastscan div ._scanned_items ._searchbox{
    width: 80%;
    display: inline-block;
    position: relative;
}
._lastscan div ._scanned_items ._searchbox input{
    width: 100%;
    padding: 4px;
}
._lastscan div ._scanned_items ._searchbtn{
    width: 20%;
    position: relative;
    display: block;
    float: right;
}
._lastscan div ._scanned_items ._searchbtn button{
    width: 100%;
    background: blue;
    color: white;
}

._lastscan ._searchlist{
    padding: 4px;
    margin-top: 5px;
}
._lastscan ._searchlist ul{
    position: absolute;
    top: 63px;
    width: 91%;
    overflow: auto;
    height: 63%;
    background: white;
    padding: 4px;
}
._wheel{
    position: absolute;
    width: 100%;
    height: 145px;
    bottom: 0;
    background: #eee;
}
.dialer{
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: #ccc;
    bottom: 0;
    height: 84%;
}
.dialer_wrapper{
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    height: 97%;
}
.container{
    position: relative;
    padding: 50%;
    margin: 20px 0 0% -3em;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    border-radius: 50%;
    border: 40px solid #BCBDC0;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 2px #fff;
    z-index: 99;
}
/*.container:before{
    content: "";
    border: 2px solid white;
    width: 134%;
    height: 136%;
    position: absolute;
    border-radius: 50%;
    top: -44px;
    left: -40px;
} */
.container:after{
    content: "";
    border: 2px solid white; 
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.container .elt p{
    position: fixed;
    width: 133px;
    top: 6em;
    left: -3em;
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
    opacity: 0;
}
.container .elt img{
    width: 60px;
    position: relative;
}
.elt{
    position:absolute;
    cursor:pointer;    
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    border-radius: 50%;
    border: 1px solid white;
    box-sizing: border-box;
}
.one{
    top: -3.5em;
    left: 45%;   
}
.first .box_shadow.one.active{
    box-shadow: 0px 0px 19px 5px rgba(52, 52, 240, 0.67);
}
.first .one.active p{
    opacity: 1 !important;  
    transition: all 5s ease;
}
.two{
    right: 8%;
    top: 10%;
}
.second .box_shadow.two.active{
    box-shadow: 0px 0px 19px 5px rgba(52, 52, 240, 0.67);
}
.second .two.active p{
    opacity: 1 !important;    
    transition: all 5s ease;
    -webkit-transition: all 5s ease;
}
.three{
    top: 48%;
    right: -6%;  
}
.third .box_shadow.three.active{
    box-shadow: 0px 0px 19px 5px rgba(52, 52, 240, 0.67);
}
.third .three.active p{
    opacity: 1 !important;
    transition: all 5s ease;
    -webkit-transition: all 5s ease;
}
.four{
    bottom: 6%;
    right: 12%;
}
.fourth .box_shadow.four.active{
    box-shadow: 0px 0px 19px 5px rgba(52, 52, 240, 0.67);
}
.fourth .four.active p{
    opacity: 1 !important;
    transition: all 5s ease;
    -webkit-transition: all 5s ease;
}
.five{
    left: 9%;
    bottom: 9%;
}
.fifth .box_shadow.five.active{
    box-shadow: 0px 0px 19px 5px rgba(52, 52, 240, 0.67);
}
.fifth .five.active p{
    opacity: 1 !important;
    transition: all 5s ease;
    -webkit-transition: all 5s ease;
}
.six{
    left: -6%;
    top: 46%;
}
.sixth .box_shadow.six.active{
    box-shadow: 0px 0px 19px 5px rgba(52, 52, 240, 0.67);
}
.sixth .six.active p{
    opacity: 1 !important;
    transition: all 5s ease;
    -webkit-transition: all 5s ease;
}
.seven{
    left: 8%;
    top: 10%;
}
.seventh .box_shadow.seven.active{
    box-shadow: 0px 0px 19px 5px rgba(52, 52, 240, 0.67);
}
.seventh .seven.active p{
    opacity: 1 !important;
    transition: all 5s ease;
    -webkit-transition: all 5s ease;
}
.container.first{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.container.first div{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.container.second{
    transform: rotate(-46deg);
    -webkit-transform: rotate(-46deg);
}
.container.second div{
    transform: rotate(46deg);
    -webkit-transform: rotate(46deg);
}
.container.third{
    transform: rotate(-93deg);
    -webkit-transform: rotate(-93deg);
}
.container.third div{
    transform: rotate(93deg);
    -webkit-transform: rotate(93deg);
}
.container.fourth{
    transform: rotate(-139deg);
    -webkit-transform: rotate(-139deg);
}
.container.fourth div{
    transform: rotate(139deg);
    -webkit-transform: rotate(139deg);
}
.container.fifth{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.container.fifth div{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.container.sixth{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.container.sixth div{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.container.seventh{
    transform: rotate(46deg);
    -webkit-transform: rotate(46deg);
}
.container.seventh div{
    transform: rotate(-46deg);
    -webkit-transform: rotate(-46deg);
}

.nav{
    width: 100%;
    padding: 3em 10px 10px;
    position: relative;
    display: inline-block;
    z-index: 9;
}
.nav .left{
    float: left;
    cursor: pointer;
    background-image: none;
    box-shadow: none;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 20px solid #6C6D70;
    border-bottom: 12px solid transparent;
    margin-left: .5em;
}
.nav .left i{
    float: left;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #A8A9AD;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    margin-left: 7px;
}
.nav .right{
    float: right;
    cursor: pointer;
    background-image: none;
    box-shadow: none;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 20px solid #6C6D70;
    border-bottom: 12px solid transparent;
    margin-right: .5em;
}
.nav .right i{
    float: right;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #A8A9AD;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    margin-right: 7px;
}
.toUpper{
    text-transform:uppercase;
}
.unAssignCheck{
    width: 20px !important;
    height: 20px !important;
    float: $float_left;
}
.unAssignedLists{
    line-height: 35px;
    font-size:18px;
}
.unAssignedBox{
    width:20px !important;
    height:20px !important;
}
.font18pxl{
    font-size: 18px;  
}
.disbleunAssigned{
    width: 90%;
    line-height: 20px;
}
.unasgdcodes{
    left: 8px;
    top: 2px;
}
.dsblpuptxt{
    position: $position_relative;
    left: 3px;
    top: 2px;
}

@media (max-width: 374px) and (min-width: 320px) {
    .container{ position: relative; padding: 42%; margin: 20px 0 0% -1.3em; }
    .container .elt img{ width: 60px; position: relative; display: block; }
    ._lastscan{ top: 37%; }
    .one{ left: 40%; top: -3.5em; }
    .two{ right: -4%; top: -2%; }
    .three { top: 40%; right: -20%; }
    .four { bottom: -2%; right: -4%; }
    .five { left: -1%; bottom: -6%; }
    .six { left: -20%; top: 40%; }
    .seven { left: -4%; top: -2%; }
    .container.second { transform: rotate(-47deg); -webkit-transform: rotate(-47deg); }
    .container.second div { transform: rotate(47deg); -webkit-transform: rotate(47deg); }
    .container.third { transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
    .container.third div { transform: rotate(90deg); -webkit-transform: rotate(90deg); }
    .container.fourth { transform: rotate(-131deg); -webkit-transform: rotate(-131deg); }    
    .container.fourth div { transform: rotate(131deg); -webkit-transform: rotate(131deg); }
    .container.fifth { transform: rotate(138deg); -webkit-transform: rotate(138deg); }
    .container.fifth div { transform: rotate(-138deg); -webkit-transform: rotate(-138deg); }
    .container.sixth { transform: rotate(92deg); -webkit-transform: rotate(92deg); }
    .container.sixth div{ transform: rotate(-92deg); -webkit-transform: rotate(-92deg); }
    .container.seventh { transform: rotate(45deg); -webkit-transform: rotate(45deg);  }
    .container.seventh div { transform: rotate(-45deg);  -webkit-transform: rotate(-45deg); }
    ._scannerimg { height: 30%; }
}
@media (max-width: 424px) and (min-width: 375px) {
    .container{ position: relative; padding: 42%; margin: 20px 0 0% -1em; }
    .container .elt img{ width: 60px; position: relative; display: block; }
    .dialer{ height: 87%; }
    ._lastscan{ top: 37%; }
    .one{ left: 40%; top: -3.5em; }
    .two{ right: 3%; top: -3%; }
    .three { top: 33%; right: -16%; }
    .four { bottom: 6%; right: -6%; }
    .five { left: -2%; bottom: 2%; }
    .six { left: -17%; top: 36%; }
    .seven { left: 2%; top: -2%; }
    .container.second { transform: rotate(-42deg); -webkit-transform: rotate(-42deg); }
    .container.second div { transform: rotate(42deg); -webkit-transform: rotate(42deg); }
    .container.third { transform: rotate(-84deg); -webkit-transform: rotate(-84deg); }
    .container.third div { transform: rotate(84deg); -webkit-transform: rotate(84deg); }
    .container.fourth { transform: rotate(-125deg); -webkit-transform: rotate(-125deg); }    
    .container.fourth div { transform: rotate(125deg); -webkit-transform: rotate(125deg); }
    .container.fifth { transform: rotate(130deg); -webkit-transform: rotate(130deg); }
    .container.fifth div { transform: rotate(-130deg); -webkit-transform: rotate(-130deg); }
    .container.sixth { transform: rotate(87deg); -webkit-transform: rotate(87deg); }
    .container.sixth div{ transform: rotate(-87deg); -webkit-transform: rotate(-87deg); }
    .container.seventh { transform: rotate(43deg); -webkit-transform: rotate(43deg); }
    .container.seventh div { transform: rotate(-43deg); -webkit-transform: rotate(-43deg); }
    ._scannerimg { height: 30%; }
}
@media (max-width: 500px) and (min-width: 425px) {
    .container{ position: relative; padding: 42%; margin: 20px 0 0% -0.7em; }
    .container .elt img{ width: 60px; position: relative; display: block; }
    .dialer{ height: 85%; }
    ._lastscan{ top: 37%; }
    .one{ left: 40%; top: -3.7em; }
    .two{ right: 5%; top: -3%; }
    .three { top: 33%; right: -16%; }
    .four { bottom: 6%; right: -6%; }
    .five { left: -2%; bottom: 2%; }
    .six { left: -17%; top: 36%; }
    .seven { left: 2%; top: -2%; }
    .container.second { transform: rotate(-42deg); -webkit-transform: rotate(-42deg);}
    .container.second div { transform: rotate(42deg);  -webkit-transform: rotate(42deg);}
    .container.third { transform: rotate(-82deg); -webkit-transform: rotate(-82deg); }
    .container.third div { transform: rotate(82deg);  -webkit-transform: rotate(82deg);}
    .container.fourth { transform: rotate(-125deg); -webkit-transform: rotate(-125deg); }    
    .container.fourth div { transform: rotate(125deg); -webkit-transform: rotate(125deg); }
    .container.fifth { transform: rotate(130deg); -webkit-transform: rotate(130deg); }
    .container.fifth div { transform: rotate(-130deg); -webkit-transform: rotate(-130deg); }
    .container.sixth { transform: rotate(87deg); -webkit-transform: rotate(87deg); }
    .container.sixth div{ transform: rotate(-87deg); -webkit-transform: rotate(-87deg); }
    .container.seventh { transform: rotate(43deg); -webkit-transform: rotate(43deg); }
    .container.seventh div { transform: rotate(-43deg); -webkit-transform: rotate(-43deg); }
    ._scannerimg { height: 30%; }
}
@media (max-width: 599px) and (min-width: 501px) {
    .container{ position: relative; padding: 42%; margin: 20px 0 0% -0.7em; border: 55px solid #BCBDC0; }
    .container .elt img{ width: 75px; position: relative; display: block; }    
    .container .elt p { top: 8em; left: -2em; }
    .dialer{ height: 90%; }
    ._lastscan{ top: 37%; }
    .one{ left: 40%; top: -4.7em; }
    .two{ right: 5%; top: -2%; }
    .three { top: 33%; right: -15%; }
    .four { bottom: 9%; right: -5%; }
    .five { left: -2%; bottom: 4%; }
    .six { left: -15%; top: 36%; }
    .seven { left: 5%; top: -2%; }
    .container.second { transform: rotate(-40.5deg); -webkit-transform: rotate(-40.5deg);}
    .container.second div { transform: rotate(40.5deg); -webkit-transform: rotate(40.5deg); }
    .container.third { transform: rotate(-82deg); -webkit-transform: rotate(-82deg); }
    .container.third div { transform: rotate(82deg);  -webkit-transform: rotate(82deg);  }
    .container.fourth { transform: rotate(-125deg); -webkit-transform: rotate(-125deg); }    
    .container.fourth div { transform: rotate(125deg);  -webkit-transform: rotate(125deg); }
    .container.fifth { transform: rotate(130deg); -webkit-transform: rotate(130deg); }
    .container.fifth div { transform: rotate(-130deg); -webkit-transform: rotate(-130deg); }
    .container.sixth { transform: rotate(85deg);  -webkit-transform: rotate(85deg); }
    .container.sixth div{ transform: rotate(-85deg); -webkit-transform: rotate(-85deg); }
    .container.seventh { transform: rotate(40deg); -webkit-transform: rotate(40deg); }
    .container.seventh div { transform: rotate(-40deg); -webkit-transform: rotate(-40deg); }
    ._scannerimg { height: 30%; }
}
@media (min-width: 600px){
    ._wheel{ width: 590px; left: 0; right: 0; margin: auto; height: 195px; background: none;}
    .wagon_wheel{ position: absolute; width: 100%; height: 26%; bottom: 0; background: #ccc; }
    .container{ position: relative; padding: 42%; margin: 20px 0 0% -0.7em; border: 55px solid #BCBDC0; }
    .container .elt img{ width: 75px; position: relative; display: block; }    
    .container .elt p { width: 150px; top: 8em; left: -2em; font-size: 12pt; }
    .dialer{ height: 90%; }
    ._lastscan{ top: 37%; }
    .one{ left: 40%; top: -4.7em; }
    .two{ right: 5%; top: -2%; }
    .three { top: 33%; right: -15%; }
    .four { bottom: 9%; right: -5%; }
    .five { left: -2%; bottom: 4%; }
    .six { left: -15%; top: 36%; }
    .seven { left: 5%; top: -2%; }
    .container.second { transform: rotate(-40.5deg); -webkit-transform: rotate(-40.5deg);}
    .container.second div { transform: rotate(40.5deg); -webkit-transform: rotate(40.5deg);}
    .container.third { transform: rotate(-82deg); -webkit-transform: rotate(-82deg);}
    .container.third div { transform: rotate(82deg); -webkit-transform: rotate(82deg);}
    .container.fourth { transform: rotate(-125deg); -webkit-transform: rotate(-125deg);}    
    .container.fourth div { transform: rotate(125deg); -webkit-transform: rotate(125deg);}
    .container.fifth { transform: rotate(130deg); -webkit-transform: rotate(130deg);}
    .container.fifth div { transform: rotate(-130deg); -webkit-transform: rotate(-130deg);}
    .container.sixth { transform: rotate(85deg); -webkit-transform: rotate(85deg);}
    .container.sixth div{ transform: rotate(-85deg); -webkit-transform: rotate(-85deg);}
    .container.seventh { transform: rotate(40deg); -webkit-transform: rotate(40deg);}
    .container.seventh div { transform: rotate(-40deg); -webkit-transform: rotate(-40deg);}
    ._scannerimg { height: 30%; }
}
.boxshadow{
   box-shadow: 0px 0px 19px 5px rgba(52, 52, 240, 0.67);
}